@model TbSlider


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form layout </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                    asp-controller="Slider" asp-action="Save" role="form">

                        <input asp-for="SliderId" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedDate" type="hidden" />
                        <input asp-for="UpdatedBy" type="hidden" />
                        <input asp-for="UpdatedDate" type="hidden" />
                        <input asp-for="ImageName" type="hidden" />

                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" class="form-control" placeholder="Adding Description"></textarea>
                        </div>

                        <div class="form-group">
                            <label >
                                @ResAdmin.lblImage
                            </label>
                            <input  asp-for="ImageName" type="file" name="file"
                            class="form-control" placeholder="@ResAdmin.lblImage"
                            onchange="Upload.UploadDefaultImg(event)" accept=".jpg, .jpeg, .png, ,.gif">

                        </div>

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@ResGeneral.lblSave</button>
                        <a class="btn btn-light" asp-action="List" asp-controller="Category">Back To List</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <span id="tbImgName"></span>
                    <div id="tbImgSrc">
                        <img src="~/Uploads/Sliders/@Model.ImageName" style="width:95%; height:300px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var Upload = {
        UploadDefaultImg: function(e) {
            const file = e.target.files[0];
            const reader = new FileReader();
            reader.onloadend = () => {
                    CourseMediaImgName = file.name;
                    CourseMediaImgBase64 = reader.result.slice(reader.result.indexOf('base64,') + 7);
                    $("#tbImgName").html(file.name)
                    $("#tbImgSrc").html(`<img class="thumbnail" src = "${reader.result}"  style = "width: 200px;height: 300px;border-radius: 5px;border: 1px solid #d9d9d9;padding: 1px;" />`)
            };
            reader.readAsDataURL(file);
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

